.student-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.student-image {
    position: relative;
    width: 160px;
    height: 250px;
}

.student-image img {
    position: relative;
    width: 160px;
    height: 240px;
    object-fit: cover;
    z-index: 3;
}

.student-image::before {
    content: "";
    width: 200px;
    height: 280px;
    background-image: url("../../assets/images/frame.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: -10px;
    right: 0;
    bottom: 0;
    z-index: 4;
}

.students-infos {
    width: 190px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f6f6f6;
    text-shadow: 5px 5px 10px #000, -5px -5px 10px black;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    padding: .75rem 0;
    border-radius: 24px;
}

.students-infos h4 {
    text-align: center;
	font-family: HarryPotter;
    font-size: 1.65rem;
    margin-bottom: .75rem;
}

.students-infos p {
    margin-bottom: .5rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .05rem;
}